body{
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #2F2F2F;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.page-content-container{
  width: 100vw;
  max-width: 1400px;
  padding: 0 100px;
  box-sizing: border-box;
  .content-wrapper{
    display: flex;
    flex-direction: row;
    .inputs{
      width: 259px;
    }
    .graph{
      width: calc(100% - 259px);
    }
  }
  table{
    th, td{
      padding: 0 10px;
    }
  }
}