{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": ["airbnb", "plugin:import/typescript"],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "requireConfigFile": false,
    "ecmaFeatures": {
      "jsx": true
    },
    "babelOptions": {
      "presets": ["@babel/preset-react"]
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "settings": {
    "import/resolver": {
      "node":{
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["react"],
  "rules": {
    "strict": 0,
    "object-curly-spacing": "off",
    "indent": ["error", 2, {"SwitchCase": 1}],
    "react/jsx-indent": ["error", 2],
    "react/jsx-indent-props": ["error", 2],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", "tsx"] }],
    "linebreak-style": [0, "windows"],
    "react/prop-types": 0,
    "react/jsx-tag-spacing": ["error", { "beforeSelfClosing": "never" }],
    "comma-dangle": ["error", "never"],
    "max-len": ["error", { "code": 130 }],
    "no-unneeded-ternary": "error",
    "no-empty-function": "error",
    "no-plusplus": "off",
    "no-labels": "off",
    "no-alert": "off",
    "object-shorthand": "off",
    "no-console": "off",
    "no-return-assign": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "import/extensions": "off",
    "jsx-a11y/label-has-associated-control": [
      "error",
      {
        "required": {
          "some": ["nesting", "id"]
        }
      }
    ],
    "jsx-a11y/label-has-for": [
      "error",
      {
        "required": {
          "some": ["nesting", "id"]
        }
      }
    ]
  }
}